In [1]:
import pandas as pd
data = pd.read_excel('Surfacewq.xlsx')

In [2]:
data.head()
data.tail()

,Amount of Calcium (Ca),Amount of Magnesium (Mg),Amount of Sodium (Na),Amount of Potassium (K),Total Amount (N+K) (mg/L),Ca Weight (%) (meq/L),Mg Weight (%) (meq/L),Na Weight (%) (meq/L),K Weight (%) (meq/L),Total Amount (Na+K %) (meq/L),...,"Amount of Potential of Hydrogen (H+, pH)",Country,State LGD Code,State,District,Year,Surface Water Station,Surface Water Station Latitude,Surface Water Station Longitude,Month
13029,20.84,3.88,14.8,2.8,17.6,1.039972,0.319276,0.643758,0.071615,0.715373,...,8.40,India,19,West Bengal,Purulia,2011,Muri,23.366667,85.875278,2022-09-11
13030,27.25,7.78,11.5,2.3,13.8,1.359848,0.640197,0.500217,0.058827,0.559044,...,7.60,India,19,West Bengal,Purulia,2012,Muri,23.366667,85.875278,2022-09-12
13031,32.80,8.40,14.8,2.1,16.9,1.636808,0.691216,0.643758,0.053711,0.697469,...,8.17,India,19,West Bengal,Purulia,2013,Muri,23.366667,85.875278,2022-09-13
13032,30.41,12.64,11.0,2.6,13.6,1.517541,1.040115,0.478469,0.066500,0.544968,...,7.15,India,19,West Bengal,Purulia,2017,Muri,23.366667,85.875278,2022-09-17
13033,35.69,8.38,41.3,9.2,50.5,1.781027,0.689570,1.796433,0.235306,2.031739,...,5.85,India,19,West Bengal,Purulia,2018,Muri,23.366667,85.875278,2022-09-18

In [3]:
for col in data.columns:
    print(col)

Amount of Calcium (Ca)
Amount of Magnesium (Mg)
Amount of Sodium (Na)
Amount of Potassium (K)
Total Amount (N+K) (mg/L)
Ca Weight (%) (meq/L)
Mg Weight (%) (meq/L)
Na Weight (%) (meq/L)
K Weight (%) (meq/L)
Total Amount (Na+K %) (meq/L)
Total Weight Amount (Ca + Mg+ Na+K %) (meq/L)
Ca Relative Conc (meq%)
Mg Relative Conc (meq%)
Na+K Relative Conc (meq%)
Amount of Chloride (Cl)
Amount of Sulfate (SO4)
Amount of Carbonate (CO3)
Amount of Hydrogencarbonate (HCO3)
Cl Weight (%) (meq/L)
SO4 Weight (%) (meq/L)
CO3 Weight (%) (meq/L)
HCO3 Weight (%) (meq/L)
Total Amount (CO3+HCO3 %) (meq/L)
Total Weight Amount (Cl + SO4+ CO3+HCO3 %) (meq/L)
Cl Relative Conc (meq%)
SO4 Relative Conc (meq%)
CO3 + HCO3 Relative Conc (meq%)
ROWID
District LGD Code
Amount of Total Dissolved Solids (TDS)
Amount of Potential of Hydrogen (H+, pH)
Country
State LGD Code
State
District
Year
Surface Water Station
Surface Water Station Latitude
Surface Water Station Longitude
Month

In [4]:
data.isnull()

,Amount of Calcium (Ca),Amount of Magnesium (Mg),Amount of Sodium (Na),Amount of Potassium (K),Total Amount (N+K) (mg/L),Ca Weight (%) (meq/L),Mg Weight (%) (meq/L),Na Weight (%) (meq/L),K Weight (%) (meq/L),Total Amount (Na+K %) (meq/L),...,"Amount of Potential of Hydrogen (H+, pH)",Country,State LGD Code,State,District,Year,Surface Water Station,Surface Water Station Latitude,Surface Water Station Longitude,Month
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13029,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13030,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13031,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13032,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13033,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
sorted = data.sort_values(by='Year')
sorted.tail()

,Amount of Calcium (Ca),Amount of Magnesium (Mg),Amount of Sodium (Na),Amount of Potassium (K),Total Amount (N+K) (mg/L),Ca Weight (%) (meq/L),Mg Weight (%) (meq/L),Na Weight (%) (meq/L),K Weight (%) (meq/L),Total Amount (Na+K %) (meq/L),...,"Amount of Potential of Hydrogen (H+, pH)",Country,State LGD Code,State,District,Year,Surface Water Station,Surface Water Station Latitude,Surface Water Station Longitude,Month
6034,74.44,51.40,NaN,NaN,0.00,3.714756,4.229582,0.000000,0.000000,0.000000,...,NaN,India,21,Odisha,Balangir,2020,Salebhata,20.983333,83.539444,2022-01-20
12033,13.36,4.36,15.50,1.30,16.80,0.666700,0.358774,0.674206,0.033250,0.707456,...,NaN,India,5,Uttarakhand,Dehradun,2020,Tuini (Tons),30.939722,77.856667,2022-02-20
12032,23.04,3.45,2.09,1.46,3.55,1.149758,0.283892,0.090909,0.037342,0.128251,...,NaN,India,5,Uttarakhand,Dehradun,2020,RISHIKESH U/S,30.075833,78.286944,2022-02-20
6673,57.60,13.00,45.55,2.90,48.45,2.874395,1.069739,1.981296,0.074173,2.055469,...,NaN,India,8,Rajasthan,Dungarpur,2020,Rangeli,23.872778,74.223611,2022-01-20
4513,49.30,12.80,24.54,1.70,26.24,2.460203,1.053281,1.067421,0.043480,1.110901,...,NaN,India,23,Madhya Pradesh,Ratlam,2020,Mataji,23.349167,74.725278,2022-01-20

In [9]:
uttar = data.loc[(data['Year'] >= 2011) & (data['State'] == 'Uttar Pradesh')]
uttar.head()

,Amount of Calcium (Ca),Amount of Magnesium (Mg),Amount of Sodium (Na),Amount of Potassium (K),Total Amount (N+K) (mg/L),Ca Weight (%) (meq/L),Mg Weight (%) (meq/L),Na Weight (%) (meq/L),K Weight (%) (meq/L),Total Amount (Na+K %) (meq/L),...,"Amount of Potential of Hydrogen (H+, pH)",Country,State LGD Code,State,District,Year,Surface Water Station,Surface Water Station Latitude,Surface Water Station Longitude,Month
8038,67.80,33.93900,38.0995,0.830875,38.930375,3.383402,2.792759,1.657221,0.021251,1.678472,...,7.706667,India,9,Uttar Pradesh,Agra,2012,AGRA(POIYAGHAT),27.266667,78.033333,2022-04-12
8039,62.36,29.67000,93.0000,10.200000,103.200000,3.111932,2.441473,4.045237,0.260883,4.306120,...,8.060000,India,9,Uttar Pradesh,Agra,2013,Agra(J.B.),27.266667,78.033333,2022-04-13
8040,63.40,39.97350,169.0500,12.121000,181.171000,3.163831,3.289323,7.353197,0.310016,7.663213,...,7.915000,India,9,Uttar Pradesh,Agra,2013,AGRA(POIYAGHAT),27.266667,78.033333,2022-04-13
8041,58.70,25.08975,131.9050,18.377000,150.282000,2.929288,2.064575,5.737495,0.470024,6.207519,...,8.185000,India,9,Uttar Pradesh,Agra,2014,AGRA(POIYAGHAT),27.266667,78.033333,2022-04-14
8042,46.00,38.90000,144.0000,18.800000,162.800000,2.295524,3.200987,6.263593,0.480843,6.744436,...,7.800000,India,9,Uttar Pradesh,Agra,2015,AGRA(POIYAGHAT),27.266667,78.033333,2022-04-15

In [20]:
india2012 = data.loc[(data['Year'] == 2020)]
india2012.to_csv('india2020.csv')

In [22]:
india2012.tail()

,Amount of Calcium (Ca),Amount of Magnesium (Mg),Amount of Sodium (Na),Amount of Potassium (K),Total Amount (N+K) (mg/L),Ca Weight (%) (meq/L),Mg Weight (%) (meq/L),Na Weight (%) (meq/L),K Weight (%) (meq/L),Total Amount (Na+K %) (meq/L),...,"Amount of Potential of Hydrogen (H+, pH)",Country,State LGD Code,State,District,Year,Surface Water Station,Surface Water Station Latitude,Surface Water Station Longitude,Month
6034,74.44,51.40,NaN,NaN,0.00,3.714756,4.229582,0.000000,0.000000,0.000000,...,NaN,India,21,Odisha,Balangir,2020,Salebhata,20.983333,83.539444,2022-01-20
6672,55.30,13.30,41.38,1.50,42.88,2.759619,1.094425,1.799913,0.038365,1.838278,...,NaN,India,8,Rajasthan,Dungarpur,2020,Paderdibadi,23.759444,74.132222,2022-01-20
6673,57.60,13.00,45.55,2.90,48.45,2.874395,1.069739,1.981296,0.074173,2.055469,...,NaN,India,8,Rajasthan,Dungarpur,2020,Rangeli,23.872778,74.223611,2022-01-20
12032,23.04,3.45,2.09,1.46,3.55,1.149758,0.283892,0.090909,0.037342,0.128251,...,NaN,India,5,Uttarakhand,Dehradun,2020,RISHIKESH U/S,30.075833,78.286944,2022-02-20
12033,13.36,4.36,15.50,1.30,16.80,0.666700,0.358774,0.674206,0.033250,0.707456,...,NaN,India,5,Uttarakhand,Dehradun,2020,Tuini (Tons),30.939722,77.856667,2022-02-20

,Amount of Calcium (Ca),Amount of Magnesium (Mg),Amount of Sodium (Na),Amount of Potassium (K),Total Amount (N+K) (mg/L),Ca Weight (%) (meq/L),Mg Weight (%) (meq/L),Na Weight (%) (meq/L),K Weight (%) (meq/L),Total Amount (Na+K %) (meq/L),...,"Amount of Potential of Hydrogen (H+, pH)",Country,State LGD Code,State,District,Year,Surface Water Station,Surface Water Station Latitude,Surface Water Station Longitude,Month
311,28.69,14.34,106.5,6.6,113.1,1.431708,1.180004,4.632449,0.168807,4.801255,...,9.34,India,28,Andhra Pradesh,Spsr Nellore,2014,Nellore CWC,14.450000,79.983333,2022-10-14
312,31.40,16.19,113.0,4.1,117.1,1.566944,1.332236,4.915181,0.104865,5.020045,...,7.84,India,28,Andhra Pradesh,Spsr Nellore,2012,Nellore CWC,14.450000,79.983333,2022-09-12
313,20.04,5.06,46.6,3.4,50.0,1.000050,0.416375,2.026968,0.086961,2.113929,...,7.76,India,28,Andhra Pradesh,Spsr Nellore,2013,Naidupet,13.948333,79.896111,2022-09-13
314,35.07,15.19,120.0,4.3,124.3,1.750087,1.249949,5.219661,0.109980,5.329641,...,7.75,India,28,Andhra Pradesh,Spsr Nellore,2013,Nellore CWC,14.450000,79.983333,2022-09-13
315,13.36,5.06,40.1,2.4,42.5,0.666700,0.416375,1.744237,0.061384,1.805621,...,7.32,India,28,Andhra Pradesh,Spsr Nellore,2013,Sulurpet,13.707778,80.010000,2022-09-13